name: Build ProjectAxis EXE
on: [push]

jobs:
  build:
    runs-on: windows-2019
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'
      - name: Install dependencies
        run: |
          pip install flask requests pillow pyinstaller==6.3.0 customtkinter psutil
      - name: Create EXE
        run: |
          pyinstaller --onefile --windowed --icon="app_icon.ico" --name "ProjectAxis_Admin" app.py
      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: ProjectAxis_Admin_App
          path: dist/ProjectAxis_Admin.exe
