name: Final Build Subeesh Voice Bot

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # இங்குதான் எல்லா பொருட்களையும் இன்ஸ்டால் செய்கிறோம்
          pip install flask pyrogram tgcrypto edge-tts pytgcalls==3.0.0.dev24 pyinstaller

      - name: Create EXE
        run: |
          # --collect-all என்பதுதான் எல்லா லைப்ரரிகளையும் அப்படியே EXE-க்குள் கொண்டு வரும் மேஜிக்
          pyinstaller --onefile --noconsole --clean --name "Subeesh_Voice_Bot" --add-binary "ffmpeg.exe;." --collect-all "pytgcalls" --collect-all "pyrogram" --collect-all "edge_tts" app.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: Subeesh_Voice_Bot_Fixed
          path: dist/Subeesh_Voice_Bot.exe
