name: Build Subeesh Voice Bot EXE

on: [push]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          # பாட் வேலை செய்ய தேவையான அனைத்து லைப்ரரிகளையும் இங்கே சேர்க்கிறோம்
          pip install flask pyrogram tgcrypto edge-tts pytgcalls==3.0.0.dev24 pyinstaller

      - name: Create EXE
        run: |
          # 1. எரர் வராதபடி --hidden-import மூலம் லைப்ரரிகள் சேர்க்கப்பட்டுள்ளது
          # 2. ஐகான் இல்லாததால் கிட்ஹப் எரர் காட்டியது, அதனால் தற்காலிகமாக --icon நீக்கப்பட்டுள்ளது
          # 3. ffmpeg.exe-ஐ சாப்ட்வேருக்கு உள்ளேயே சேர்க்க --add-binary பயன்படுத்தப்பட்டுள்ளது
          pyinstaller --onefile --noconsole --clean --name "Subeesh_Voice_Bot" --add-binary "ffmpeg.exe;." --hidden-import="pyrogram" --hidden-import="pytgcalls" --hidden-import="flask" --hidden-import="edge_tts" app.py

      - name: Upload EXE
        uses: actions/upload-artifact@v4
        with:
          name: Subeesh_Voice_Bot_App
          path: dist/Subeesh_Voice_Bot.exe
